{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<section class="section section_login">
    <h2 class="h3 mb-3 font-weight-normal">Connexion</h2>
    <form class="login_form" method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}
        <div class="form_div">
            <img src="{{ asset('/assets/svg/name.svg') }}">
            <div class="label_div">
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder=" " required autofocus>
                <label class="label_name" for="inputEmail">
                    <span class="content_name">E-mail</span>
                </label>
            </div>
        </div>
        <div class="form_div">
            <img src="{{ asset('/assets/svg/password.svg') }}">
            <div class="label_div">
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder=" " required>
                <label class="label_name" for="inputPassword">
                    <span class="content_name">Mot de passe</span>
                </label>
            </div>
        </div>
        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >
        
        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}

        <button class="boutton btn-lg btn-primary" type="submit">
            Connexion
        </button>
    </form>

    <a class="inscription" href="/register">Créer un compte</a>
</section>
{% endblock %}
