{% extends 'base.html.twig' %} {% block title %}Register{% endblock %} 
{% block body %} 
        <div class="header_div">
            <div class="header_flex">
                <a href="{{ path('app_login') }}">
                    <img src="{{ asset('/assets/svg/back.svg') }}">
                </a>
            </div>
            <div class="header_titre">
                    <h1>Teens'Up</h1>
            </div>
        </div>
    </div>
</header>
{% for flashError in app.flashes('verify_email_error') %}
<div class="alert alert-danger" role="alert">{{ flashError }}</div>
{% endfor %}
<section class="section section_login">
    <h2>Inscription</h2>
    <form name="registration_form" class="registration_form" method="post">
    <!-- PREMIERE ETAPE DU FORMULAIRE -->
        <div id="form1" class="form1 register_form active">
            <div class="form_div">
                <img src="{{ asset('/assets/svg/name.svg') }}" />
                <div class="label_div">
                    <input type="text" name="registration_form[prenom]" id="registration_form_prenom" class="form-control" maxlength="100" placeholder=" " required autofocus />
                    <label class="label_name required" for="registration_form_prenom">
                        <span class="content_name">Prénom</span>
                    </label>
                </div>
            </div>
            <div class="form_div">
                <img src="{{ asset('/assets/svg/mail.svg') }}" />
                <div class="label_div">
                    <input type="email" name="registration_form[email]" id="registration_form_email" class="form-control" placeholder=" " required autofocus />
                    <label class="label_name required" for="registration_form_email">
                        <span class="content_name">E-mail</span>
                    </label>
                </div>
            </div>
            <div class="form_div">
                <img src="{{ asset('/assets/svg/password.svg') }}" />
                <div class="label_div">
                    <input type="password" name="registration_form[plainPassword]" id="registration_form_plainPassword" class="form-control" placeholder=" " required autofocus />
                    <label class="label_name required" for="registration_form_plainPassword">
                        <span class="content_name">Mot de passe</span>
                    </label>
                </div>
            </div>
            <div class="form_div">
                <img src="{{ asset('/assets/svg/calendar.svg') }}" />
                <div class="label_div">
                    <input type="date" id="registration_form_ddn" class="form-control date" placeholder=" " required autofocus />
                    <label class="label_name" for="registration_form_ddn">
                        <span class="content_name">Date</span>
                    </label>
                </div>
                <input type="hidden" name="registration_form[ddn][day]" id="registration_form_ddn_day" required/>
                <input type="hidden" name="registration_form[ddn][month]" id="registration_form_ddn_month" required/>
                <input type="hidden" name="registration_form[ddn][year]" id="registration_form_ddn_year" required/>
            </div>
            <div class="form_div">
                <div class="agree_div">
                    <input class="agree_checkbox" type="checkbox" name="registration_form[agreeTerms]" id="registration_form_agreeTerms" required autofocus />
                    <label class="agree_label" for="registration_form_agreeTerms">
                        <span>J’accepte les conditions</span>
                    </label>
                </div>
            </div>
        </div>
    <!-- DEUXIEME ETAPE DU FORMULAIRE -->        
        <div class="register_form form_checkbox" id="form2">
            <h3>Les sports qui vous intéressent</h3>
            <div class="div_checkbox">
                <div class="div_sports" id="registration_form_sport">
                    {% for sport in sports %}
                    <div class="sport">
                        <input type="checkbox" id="registration_form_sport_{{sport.id}}" name="registration_form[sport][]" value="{{sport.id}}">
                        <label class="checkbox_label" for="registration_form_sport_{{sport.id}}">
                            <img class="sportImage" src="/{{sport.images}}"/><br>
                            <span>{{sport.nom}}</span>
                        </label>
                    </div>
                    {% endfor %}
                </div>
            </div> 
        </div>
    <!-- TROISIEME ETAPE DU FORMULAIRE -->
        <div class="register_form" id="form3">
            <h3>Distance maximale</h3>
                <input type="range" min="1" max="100" value="50" class="slider" id="registration_form_distance" name="registration_form[distance]" onmousemove="rangeSlide(this.value)" onChange="rangeSlide(this.value)" />
                <div class="div_valeur">
                    <span>1km</span>
                    <span id="rangeValue">50</span>
                    <span>100km</span>
                </div>
            <input type="hidden" id="registration_form_last_location" name="registration_form[last_location]"/>
            {{ form_row(registrationForm._token) }}
            <input type="submit" id="submit3" value="S'inscrire" class="boutton btn" />
        </div>
    </form>
    <button id='submit1' class="boutton btn disabled active">Suivant</button>
    <button id='submit2' class="boutton btn">Suivant</button>
</section>

<script src="{{ asset('/assets/js/register.js') }}"></script>
{% endblock %}
