{% extends 'base.html.twig' %} {% block title %}Dashboard{% endblock %} {% block body %}
<div class="info_perso">
    <h1>Mes Infos</h1>
    <h3>{{ app.user.prenom }}</h3>
    <h3>{{app.user.getAge()}} ans</h3>
    {% for userSport in app.user.sport %}
    <span>{{ userSport.nom }}</span>
    {% endfor %}<br />
    <span>{{ app.user.lastLocation }}</span>
</div>
<section class="section dashboard_section">
    <div class="info">
    {% for user in users %}
        <div class="div_totale">
            <div class="user_card">
                <div class="image_degrade">
                    <img class="image_profil" src="https://fr.web.img5.acsta.net/pictures/19/08/09/14/53/1842996.jpg">
                </div>
                <div class="infos_user">
                    <h3>{{ user.prenom}}, {{user.getAge()}} ans</h3>
                    <span>à 
                    {% if user.GetDistanceOpt(latitude,longitude) < 1 %}
                        moins d'un kilometre
                    {% else %}
                        {{user.GetDistanceOpt(latitude,longitude)}} kilometres
                    {% endif %}</span><br>
                    {% for userSport in user.sport %}
                    <span>{{ userSport.nom }} </span>
                    {% endfor %}<br />
                    <!--<span>{{ user.lastLocation }}</span>-->
                    <br />
                </div>

                <br><br>
            </div>
                <div class="div_like">
                    <button id="dislike"><img src="{{ asset('/assets/svg/dislike.svg') }}"><button><br>
                    <button id="like"><img src="{{ asset('/assets/svg/like.svg') }}"></button>
                </div>
        </div>
            {% endfor %}

    </div>

</section>
<script>
    var dislikes = document.querySelectorAll("#dislike")
    var likes = document.querySelectorAll("#like")

    function next(e){
        let type = e.path[1].id

        if(type == "like"){
            e.path[3].children[0].className = "div_totale_like"
        }
        else if(type == "dislike"){
            e.path[3].children[0].className = "div_totale_dislike"
        }
        setTimeout(function(){
            e.path[4].removeChild(e.path[3])
        }, 250); 
    }

    likes.forEach(like =>{
        like.addEventListener("click", next)
    })

    dislikes.forEach(dislike =>{
        dislike.addEventListener("click", next)
    })

    
</script>
    {% endblock %}