{% extends 'base.html.twig' %} {% block title %}Dashboard{% endblock %} {% block body %}
<div class="info">
    <h1>Mes Infos</h1>
    <h3>{{ app.user.prenom }}</h3>
    <h3>{{app.user.getAge()}} ans</h3>
    {% for userSport in app.user.sport %}
    <span>{{ userSport.nom }}</span>
    {% endfor %}<br />
    <span>{{ app.user.lastLocation }}</span>
</div>

<div class="info">
    <h1>Infos Users</h1>
    {% for user in users %}
    <h3>{{ user.prenom }}</h3>
    <h3>{{ user.getAge()}} ans</h3>
    <span>à 
    {% if user.GetDistanceOpt(latitude,longitude) < 1 %}
        moins d'un kilometre
    {% else %}
        {{user.GetDistanceOpt(latitude,longitude)}} kilometres
    {% endif %}</span><br>
    {% for userSport in user.sport %}
    <span>{{ userSport.nom }}</span>
    {% endfor %}<br />
    <span>{{ user.lastLocation }}</span
    ><br /><br />
    {% endfor %}
</div>

<div id="infoposition"></div>

<script>
    function maPosition(position) {
        var infopos = position.coords.latitude + ";" + position.coords.longitude;
        document.getElementById("infoposition").innerHTML = infopos;
    }
    if (navigator.geolocation) navigator.geolocation.getCurrentPosition(maPosition);
</script>
{% endblock %}
