{% extends 'base.html.twig' %}

{% block title %}Conversations index{% endblock %}

{% block body %}
<div class="header_div">
    <div class="header_flex">
        <a href="{{ path('dashboard') }}">
            <img src="{{ asset('/assets/svg/back.svg') }}">
        </a>
    </div>
    <div class="header_titre">
        <a href="{{ path('dashboard') }}">
            <h1>Teens'Up</h1>
        </a>
    </div>
</div>
</div>
</header>
<section class="section section_message">
    <h2>Conversations</h2>
    <div class="conversations" id="div_conversations">
    {% for conversation in app.user.conversations %}
        {% for user in conversation.users %}
            {% if user != app.user %}
                <div class="conversation">
                    <a href='{{ path('conversations_show', {'id': conversation.id}) }}'>
                    <img src="/{{user.images}}">
                    <div class="conversation_div">
                        <span class="conversation_nom">{{user.prenom}}</span>
                        <div class="conversation_infos">
                            <span>
                                {% for message in lastMsg %}
                                    {% if message.conversations == conversation %}
                                        {% if message.users == app.user %}
                                        ↪
                                        {% endif %}
                                        {{message.messages}}
                                    {% endif %}
                                {% endfor %}
                            </span>
                        </div>
                    </div>
                    </a>
                    <br>
                </div>
            {% endif %}
            <br>
        {% endfor %}
   
    {% endfor %}
</div>
</section>

{% endblock %}
