{% extends 'base.html.twig' %}

{% block title %}Conversations index{% endblock %}

{% block body %}
<div class="header_div">
    <div class="header_flex">
        <a href="{{ path('dashboard') }}">
            <img src="{{ asset('/assets/svg/back.svg') }}">
        </a>
    </div>
    <div class="header_titre">
        <a href="{{ path('dashboard') }}">
            <h1>Teens'Up</h1>
        </a>
    </div>
</div>
</div>
</header>
<section class="section section_message">
    <h2>Conversations</h2>
    {% for conversation in app.user.conversations %}
    <div class="conversations" id="div_conversations">
        {% for user in conversation.users %}
            {% if user != app.user %}
                <div class="conversation">
                    <img src="/{{user.images}}">
                    <div class="conversation_div">
                        <a class="conversation_nom" href='{{ path('conversations_show', {'id': conversation.id}) }}'>{{user.prenom}}</a>
                        <div class="conversation_infos">
                            <span>{{ conversation.lastMessage ? conversation.lastMessage|date('d/m/Y') : '' }} à {{ conversation.lastMessage ? conversation.lastMessage|date('H:i')}}</span>
                        </div>
                    </div>
                    <br>
                </div>
            {% endif %}
            <br>
        {% endfor %}
    </div>
    {% endfor %}
</section>
<script>
    let conversations = document.getElementById("div_conversations")

    function scrollDown(){
        conversations.scrollTo(0,5000)
    }

    document.onload = scrollDown()
</script>
{% endblock %}
