{% extends 'base.html.twig' %}

{% block title %}Conversations{% endblock %}

{% block body %}
        <div class="header_div">
            <div class="header_flex">
                <a href="{{ path('conversations_index') }}">
                    <img src="{{ asset('/assets/svg/back.svg') }}">
                </a>
            </div>
            <div class="header_titre">
                <a href="{{ path('dashboard') }}">
                    <h1>Teens'Up</h1>
                </a>
            </div>
            <div class="header_flex right">
                <a href="{{ path('conversations_index') }}">
                    <img src="{{ asset('/assets/svg/delete.svg') }}">
                </a>
            </div>
        </div>
    </div>
</header>

{{ include('conversations/_delete_form.html.twig') }}

<section class="section section_message">
    <h2>{{conversation.users[1].prenom}}</h2>
    <div class="messages" id="div_messages">
        {% for message in conversation.messages %}
            {% if message.users == app.user %}
                <div class="div_message_me message">
                    <img src="/{{message.users.images}}">
                    <div class="myMessage ">
                        <p>{{message.messages}}</p>
                        {{ message.date ? message.date|date('H:i d-m-Y')}}
                    </div>
                </div>
            {% else %}
                <div class="div_message_other message">
                    <img src="/{{message.users.images}}">
                    <div class="otherMessage ">
                        <p>{{message.messages}}</p>
                        {{ message.date ? message.date|date('H:i d-m-Y')}}
                    </div>
                </div>
                <div class="div_message_other message">
                    <img src="/{{message.users.images}}">
                    <div class="otherMessage ">
                        <p>{{message.messages}}</p>
                        {{ message.date ? message.date|date('H:i d-m-Y')}}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="send">
        {{ include('conversations/_form.html.twig') }}
    </div> 
</section>

<script>
    let messages = document.getElementById("div_messages")

    function scrollDown(){
        messages.scrollTo(0,5000)
    }

    document.onload = scrollDown()
</script>
{% endblock %}
