{% extends 'base.html.twig' %} {% block title %}Modifier Profil{% endblock %} {% block body %}
<section class="section section_edit">
<h2>Modifier Profil {{ app.user.prenom }}</h2>
<form class="form_edit" name="users" method="post" enctype="multipart/form-data">
    <div id="users" class="div_form">
        <div>
            <label class="" for="users_images">Choisir une image de profil</label>
            <input class="image_edit" type="file" id="users_images" name="users[images]">
        </div>
        <div class="form_div">
            <div class="label_div">
                Description
                <textarea name="users[description]" id="users[description]" class="form-control">{{user.description}}</textarea>
                
            </div>
        </div>
    </div>
    <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <div class="form_checkbox modal_overflow">
                    <div class="div_sports" id="users_sport">
                        {% for sport in sports %}
                        <div class="sport">
                            <input type="checkbox" id="users_sport_{{sport.id}}" name="users[sport][]" value="{{sport.id}}"
                            {% for userSport in user.sport %}
                                {% if userSport == sport %}
                                 checked
                                {% endif %}
                            {% endfor %}
                            >
                            <label class="checkbox_label" for="users_sport_{{sport.id}}">
                                <img class="sportImage" src="/{{sport.images}}"/><br>
                                <span>{{sport.nom}}</span>
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
    </div>
    <input type="hidden" name="users[_token]" value="{{ csrf_token('users') }}">
    <button class="boutton">Save</button>
</form>

<button id="myBtn">Les Sports +</button>

{{ include("users/_delete_form.html.twig") }}
</section>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('/assets/js/edit.js') }}"></script>
{% endblock %}