{% extends 'base.html.twig' %} {% block title %}Modifier Profil{% endblock %} 

{% block body %}
<div class="header_div">
    <div class="header_flex">
        <a href="{{ path('profil') }}">
            <img src="{{ asset('/assets/svg/back.svg') }}">
        </a>
    </div>
    <div class="header_titre">
        <a href="{{ path('dashboard') }}">
            <h1>Teens'Up</h1>
        </a>
    </div>
</div>
</div>
</header>
<h1>Modifier Profil {{ app.user.prenom }}</h1>

{{ include("users/_form.html.twig") }}

{{ include("users/_delete_form.html.twig") }}
{% endblock %}
