{% extends 'base.html.twig' %} {% block title %}Users{% endblock %} {% block body %}
<div class="header_div">
    <div class="header_flex">
        <a href="{{ path('dashboard') }}">
            <img src="{{ asset('/assets/svg/back.svg') }}">
        </a>
    </div>
    <div class="header_titre">
        <a href="{{ path('dashboard') }}">
            <h1>Teens'Up</h1>
        </a>
    </div>
    <div class="header_flex right">
        <a href="{{ path('app_logout') }}">
            <img src="{{ asset('/assets/svg/logout.svg') }}">
        </a>
    </div>
</div>
</div>
</header>
<section class="section">
    <div class="table">
        <img src="/{{ app.user.images }}" alt="" />
        <div class="user_infos">
            <div class="user_titre">
                <p class="user_prenom">{{ app.user.prenom }}, &nbsp</p>
                <p class="user_age">{{ app.user.age }} ans</p>
            </div>
            <div class="info_sport">
                {% for userSport in app.user.sport %}
                <span>{{ userSport.nom }}</span>
                {% endfor %}
            </div>
            <p class="user_description">{{ app.user.description|nl2br }}</p>
            <div class="user_administration">
                <a class="boutton" href="{{ path('profil_edit') }}">Modifier le profil</a><br />
                <a class="modif_mdp" href="{{ path('password_edit') }}">Changer de mot de passe</a>
            </div>
        </div>
    </div>
</section
{% endblock %}
